@using WebApiFridges.CLIENT.MyResponceClasses;

@{
	var fridgesList = ViewData["FridgesList"] as List<ResponceFridges>;
	var productsList = ViewData["ProductsList"] as List<ResponceProducts>;
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<script src="~/js/EditProductsJS.js" defer></script>
</head>
<body>
	<h3>Редактор продуктов</h3>
	<h6>Выберите холодильник, чтобы изменить информацию о продуктах в нём.</h6>

	<table id="myTable" class="table">
		<tr>
			<th>Модель</th>
			<th>Год производства</th>
			<th>Название</th>
			<th>Владелец</th>
			<th></th>
			<th></th>
		</tr>
		@if (fridgesList != null)
		{
			@foreach (var fridge in fridgesList)
			{
				<tr>
					<td>@fridge.Model</td>
					<td>@fridge.Year</td>
					<td>@fridge.Name</td>
					<td>@fridge.OwnerName</td>
					<td>
						<button class="btn btn-primary" onclick="openModalSet('@fridge.Guid')">
							Ред. набор
						</button>
					</td>
					<td>
						<button class="btn btn-primary" onclick="openModalCount('@fridge.Guid')">
							Ред. кол-во
						</button>
					</td>
				</tr>
			}
		}
	</table>

	<div class="modal" id="modal-editing" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Введите новые данные</h5>
					<button id="buttonClose2" type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div id="productsDiv">
						<label for="product">Продукты в холодильнике:</label>
						<div>
							@if (productsList != null)
							{
								@foreach (var product in productsList)
								{
									<button type="button" name="product" id="product-@product.Id" data-guid="@product.Id" class="btn btn-secondary my-button" onclick="changeClass(this)">@product.Name</button>
								}
							}
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button id="buttonSave" type="button" class="btn btn-primary">Сохранить</button>
					<button id="buttonClose" type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
				</div>
			</div>
		</div>
	</div>
</body>
</html>

